
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.nav-logo {
  letter-spacing: 1px;
  margin-left: 20px;
  color: rgb(234, 10, 10);
  text-decoration: none;
}

.nav-links {
  margin-right: 30px;
  display: flex;
  gap: 40px;
}

.nav-link {
  color: black;
  text-decoration: none;
}


.search-container {
  display: flex;
  align-items: center; 
  flex: 1;
  max-width: 350px;
}

.search-container img {
  margin-right: 5px;  
  width: 40px; 
  height: auto; 
}

.table-container{
  margin: 30px;
  background-color: #fff;
}

.table-head .table-cell {
  position: relative;
  padding: 20px;
  height: 50%;
  color: #949292;
  font-size: 18px;
  font-family: Cambria;
  font-weight: 600;
}

.table-head .marks-cell{
  padding-left: 50px;
}

.table-head .table-cell::after {
  content: '';
  position: absolute;
  top: 10px; 
  right: 0px;
  width: 1px; 
  height: 40px; 
  background-color: #ccc; 
}

.table-head .no-border::after {
  display: none;
}

.table-body .table-cell{
  color: rgb(58, 57, 57);
  font-size: 16px;
  font-family: Cambria;
  font-weight: 600;
}

.table-body .table-cell .student-name{
  display: flex;
  align-items: center;
}

.table-body .subject-cell{
  padding-left: 20px;
  width: 600px;
}

.table-body .marks-cell{
  padding-left: 60px;
}

.table-body .action-cell{
  padding-left: 40px;
}

.options-popover {
  width: 100px;
  padding: 5px;
}

.options-popover .options-button {
  display: flexbox;
  justify-content: left;
  color: rgb(58, 57, 57);
  text-transform: none;
  font-weight: 600;
}

.add-btn button{
  margin-top: 30px;
  margin-right: 0;
  color: #fff;
  background-color: black;
  text-transform: none;
  border-radius: 1px;
  padding: 10px;
  width: 150px;
}

.add-btn button:hover{
  background-color: rgb(36, 34, 34);
}

.no-records-found {
  font-size: 20px;
  color: #ee0c22e9;
}

/* xs */
@media (min-width: 475px) {
  .add-btn button {
    margin-right: 60%;
  }
}


/* lg */
@media (min-width: 1024px) {
  .add-btn button {
    margin-right: 88%;
  }
}