
h1{
    color: rgb(234, 10, 10);
    text-decoration: none;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.login-container{
    background-color: white;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    
}



